/* Estilos principales */
.inicio-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh; 
  overflow: hidden; 
  margin: 0; 
  padding: 0;
  position: relative; 
}

/* Imagen de fondo */
.background-img {
  width: 100%;
  height: 100vh; 
  object-fit: cover; 
  margin: 0;
  padding: 0;
}


.button-container {
  position: absolute;
  top: 60%; 
  right: -13%; 
  transform: translateY(-50%);
  z-index: 2; 
}

.start-button {
  padding: 1em 2em;
  background-color: #c30000;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #a10000;
}

/* RESPONSIVIDAD */

/* Para pantallas pequeñas */
@media (max-width: 768px) {
  .background-img {
    height: 100vh;
  }

  .button-container {
    top: 75%;
    right: 5%;
  }

  .start-button {
    padding: 0.8em 1.5em;
    font-size: 1rem;
  }
}

/* Para pantallas grandes */
@media (min-width: 1200px) {
  .start-button {
    font-size: 1.5rem;
    padding: 1.2em 2.5em;
  }
}


/*Líneas decorativas en los costados */
.inicio-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); /* Línea decorativa oscura */
  z-index: 1;
}

.inicio-container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

